@import url(//db.onlinewebfonts.com/c/b2e75c336df191233b3096682c9ee6be?family=PixelarRegularW01-Regular);
*{
    margin: 0;
	padding: 0;
    box-sizing:border-box;
}

body{
    width: 70%;
    /*background-image:url(../img/mariobroscover8.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;*/
    height: 150vh;
}
header{
    width: 100%;
    height: auto;
    top:0;
    left:0;
}


.containerGame{
  background-color: rgb(235, 31, 31);
  margin-left: 28%;
  width: 100%;
  padding-top: 10px;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 117, 173, 0.9);
  border-radius: 15px;
}

.displayGame{
    width: 100%;
    display: flex;
    /*margin-left: 28%;*/
    margin-top: 1%;
    margin-bottom:2%;
    justify-content: space-between;
}
.displayTurn,
.displayLevel,
.displayTime {
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'PixelarRegularW01-Regular';
    font-size: 1.4rem;
    font-weight: bold;
    width:100%;
}

.displayLevel,.displayTurn,.displayTime p{
  text-align: center;
}

.paragraph{
  color:white;
}
.container-icons{
    display: flex;
    margin-top: 15%;
    margin-left: 25%;
    margin-bottom:10%;
    justify-content: space-between;
    width: 100%;
    font-size: 1.2rem;
}

.container-icons-right{
    display: flex;
    justify-content: center;
}
.container-icons-right i {
    color: #dfba14;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    cursor: pointer;
}

.container-icons-right i:hover{
    color:blueviolet;
}

.container-icons-left{
    display: inline-block;
    justify-content: center;
}
.container-icons-left i{
    padding-left: 10px;
    cursor: pointer;
}

.container-icons-left i.fas.fa-home{
    color: #ED1B1B;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.container-icons-left i.fas.fa-home:hover{
    color:#2375EF;
}

.container-icons-left i.fas.fa-redo-alt{
    color: #139A11;
    -webkit-text-stroke-width: 3px;
-webkit-text-stroke-color: black;
}

.container-icons-left i.fas.fa-redo-alt:hover{
    color: #ED1B1B;
}

.container-icons-left i.fas.fa-pause{
    color: #2375EF;
    -webkit-text-stroke-width: 3px;
-webkit-text-stroke-color: black;
}

.container-icons-left i.fas.fa-pause:hover{
    color: #dfba14;
}

.container-name-game{
  justify-content: center;
}

.logo{
    margin-left: 65%;
    width: 25%;
}

.nameGame{
    margin-left: 59%;
    width: 40%;
}


.grid {
    /*display: inline-grid;*/
    width: 80%;
   /* grid-template-columns: repeat(4, 1fr);*/
    border-radius: 15px;
    grid-gap: 20px;
    grid-column: 1;
    margin-left: 10%;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    /*background-color: rgba(33, 117, 173, 0.9);*/
    padding-left: 20px;
    padding-top:20px ;
    padding-bottom: 20px;
    padding-right: 20px;
    justify-content: space-between;


}

.card{
    transform-style: preserve-3d;
    transition: 0.3s cubic-bezier(0.0, -0.1, 0.265, 1.55);
    position: relative;
    cursor: pointer;
}
.card.flipped{
    transform: rotateY(180deg);
}

/*@keyframes resplandorAnimation {
    0%,100%{
      box-shadow: 20px 20px 30px 30px yellow;
      border-radius: 15px;
    }
    50%{
    box-shadow: 0px 0px 0px;
    
    }
  }*/

.match{
    opacity: 0;
    /*display: none;*/
    /*opacity: 0;
    /*-webkit-transition: display 0.3s;
   transition: display 0.3s;*/
    /*-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);*/
/*animation:infinite resplandorAnimation;
animation-duration: 0.2s;
transform: rotateY(90deg);
transition: 1s;*/

}

.frontCard{
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 15px;
    border: 4px solid black;
    position: absolute;
    justify-content: center;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.image{
    width: 60px;
    height: 70px;
    margin: 10px 10px 15px 15px;
    filter: brightness(100%);
}
.backCard{
    width: 94px;
    height: 94px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.imageBackCard{
    width: 94px;
    height: 94px;
    justify-content: center;
    border-radius: 15px;
    border:4px solid black;
    
}






  .alert{
      color: red;
      animation-name: parpadeo;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    
      -webkit-animation-name:parpadeo;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

.emergent{
    background-color: rgb(58, 14, 161);
    width: 100px;
}

.winLoseGame{
	display: none;
	background-color: rgba(0, 0, 0, 0.3);
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}

.showScore{

    background-color: rgba(33, 117, 173, 0.9);
    padding-left: 20px;
    padding-top:20px ;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius: 15px;
    margin-left: 33%;
    margin-top: 15%;
    background-image: url("../img/mario-bros-fireworks.gif");
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    /*margin-bottom: 2%;*/
    width: 35%;
    height: 55%;
	/*background-color: #fff;
	width: 600px;
	height: 200px;
	max-width: 100%;
	padding: 30px 50px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	text-align: center;
	position: absolute;
	left: 26%;
	top: 35%;*/
}

/*Iphone 6/7/8*/
@media (min-width: 375px) and (min-height: 667px){
    body{

        background-image: url(../img/mario-bros-mobile.png);
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
    }
    .container-icons{
        width:320px;
        margin-left:10%;
    }
    .container-icons i{
        font-size: 1.5rem;
    }
    .displayTurn,
    .displayLevel,
    .displayTime {
    font-size: 1.5rem;
    }
    .containerGame{
        margin-left: 25%;
    }
    .grid{
        justify-content:space-between;
        padding: 10px 5px 30px 5px;
        margin-left: 6px;
        width:250px;
    }
    .frontCard{
        width: 60px;
        height: 60px;
    }
    .image{
        width: 30px;
        height: 40px;
        margin: 5px 5px 10px 10px;
    }
    .backCard{
        width: 64px;
        height: 64px;
    }
    .imageBackCard{
        width: 64px;
        height: 64px; 
    }

    .logo{
        margin-left: 120px;
        width: 150px;
    }
    
    .nameGame{
        margin-left:89px;
        width:232px;
    }
    

}

/*iPad*/
@media (min-width: 768px) and (min-height: 1024px){
    body{

        background-image: url(../img/mario-bros-mobile.png);
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
    }
    .container-icons{
        margin-top: 20%;
        width:650px;
        margin-left:10%;
    }
    .container-icons i{
        font-size: 3rem;
    }
    .displayTurn,
    .displayLevel,
    .displayTime {
    font-size: 2.5rem;
    }
    .containerGame{
        margin-left: 11%;
        width: 650px;
    }
    .grid{
        justify-content:space-between;
        padding: 10px 5px 30px 10px;
        margin-left: 26px;
        width:600px;
    }
    .frontCard{
        width: 150px;
        height: 150px;
    }
    .image{
        width: 120px;
        height: 130px;
        margin: 5px 5px 10px 10px;
    }
    .backCard{
        width: 154px;
        height: 154px;
    }
    .imageBackCard{
        width: 154px;
        height: 154px; 
    }

    .logo{
        margin-left: 250px;
        width: 300px;
    }
    
    .nameGame{
        margin-left:170px;
        width:500px;
    }
    

}