@import url(//db.onlinewebfonts.com/c/b2e75c336df191233b3096682c9ee6be?family=PixelarRegularW01-Regular);
*{
    margin: 0;
	padding: 0;
    box-sizing:border-box;
}

body{
    width: 70%;
    /*background-image:url(../img/mariobroscover8.jpg);*/
    background-image:url(../img/backgroundmariobros.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 150vh;
}
header{
    width: 100%;
    height: auto;
    top:0;
    left:0;
}

.containerGameBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.containerGame{
  margin-left: 45%;
  min-width: 400px;
  /*min-height:40vh;*/
  max-height: 110vh;
  max-width:700px;
  padding-top: 5px;
  margin-top: 5%;
  justify-content: center;
  background-color: rgba(33, 117, 173, 0.9);
  border-radius: 15px;
}

.displayGame{
    width: 100%;
    display: flex;
    margin-left: 0%;
    margin-top: 1%;
    margin-bottom:2%;
    justify-content:center;
}
.displayTurn,
.displayLevel,
.displayTime {
    justify-content: left;
    align-items: left;
    color: white;
    font-family: 'PixelarRegularW01-Regular';
    font-size: 2rem;
    font-weight: bold;
    width:30%;
}

.displayLevel,.displayTurn,.displayTime p{
  text-align: center;
}

.paragraph{
  color:white;
}
.container-icons{
    display: flex;
    margin-top: 2%;
    margin-left: 8%;
    margin-bottom:1%;
    justify-content: space-between;
    align-items: center;
    width: 125%;
    font-size: 1.8rem;
}

.container-icons-right{
    display: flex;
    justify-content: center;
}
.container-icons-right i {
    color: #dfba14;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    cursor: pointer;
}

.container-icons-right i:hover{
    color:blueviolet;
}

.container-icons-left{
    display: inline-block;
    justify-content: center;
}
.container-icons-left i{
    padding-left: 10px;
    cursor: pointer;
}

.container-icons-left i.fas.fa-home{
    color: #ED1B1B;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.container-icons-left i.fas.fa-home:hover{
    color:#2375EF;
}

.container-icons-left i.fas.fa-redo-alt{
    color: #139A11;
    -webkit-text-stroke-width: 3px;
-webkit-text-stroke-color: black;
}

.container-icons-left i.fas.fa-redo-alt:hover{
    color: #ED1B1B;
}

.container-icons-left i.fas.fa-pause{
    color: #2375EF;
    -webkit-text-stroke-width: 3px;
-webkit-text-stroke-color: black;
}

.container-icons-left i.fas.fa-pause:hover{
    color: #dfba14;
}

.container-name-game{
  display: flex;
  justify-content: center;
  flex-direction:column;
}

.logo{
    margin-left:50%;
    width:45%;
    max-width:46%;

}

.nameGame{
    margin-left: 35%;
    width:90%;
}


.grid {
    max-width: 500px;
    border-radius: 15px;
    grid-gap: 20px;
    grid-column:1;
    align-items:center;
    justify-content:space-between;
    margin-top: 0%;
    margin-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top:20px ;
    padding-bottom: 10px;
    padding-right: 20px;


}

.card{
    transform-style: preserve-3d;
    transition: 0.3s cubic-bezier(0.0, -0.1, 0.265, 1.55);
    position: relative;
    cursor: pointer;
}
.card.flipped{
    transform: rotateY(180deg);
}

.match{
    opacity: 0;
}

.frontCard{
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 15px;
    border: 4px solid black;
    position: absolute;
    justify-content: center;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.image{
    width: 60px;
    height: 70px;
    margin: 10px 10px 15px 15px;
    filter: brightness(100%);
}
.backCard{
    width: 94px;
    height: 94px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.imageBackCard{
    width: 94px;
    height: 94px;
    justify-content: center;
    border-radius: 15px;
    border:4px solid black;
    
}
  .alert{
      color: red;
      animation-name: blinking;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    
      -webkit-animation-name:parpadeo;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes blinking{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes blinking {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes blinking {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

.emergent{
    background-color: rgb(58, 14, 161);
    width: 100px;
}

.winLoseGame{
	display: none;
	background-color: rgba(0, 0, 0, 0.3);
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}

.showScore{

    background-color: rgba(33, 117, 173, 0.9);
    padding-left: 20px;
    padding-top:20px ;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius: 15px;
    margin-left: 33%;
    margin-top: 15%;
    background-image: url("../img/mario-bros-fireworks.gif");
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    /*margin-bottom: 2%;*/
    width: 35%;
    height: 55%;
	/*background-color: #fff;
	width: 600px;
	height: 200px;
	max-width: 100%;
	padding: 30px 50px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	text-align: center;
	position: absolute;
	left: 26%;
	top: 35%;*/
}

/*Con capacidad de respuesta*/

@media (min-width: 1280px) and (min-height: 580px){
    body{
        width: 70%;
        background-image: url(../img/mariobroscover8.jpg);
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
        height: 100vh;
        overflow-y: hidden;
    }
    .container-icons{
        margin-top: 1%;
    }
    .container-name-game{
        margin-top:0%;
      }
      
    .logo{
        margin-left: 480px;
        width: 180px;
    }
    
    .nameGame{
        margin-left:430px;
        width:320px;
    }

    .containerGame{
        margin-top: 1%;
        height:410px;
    }
    .displayGame{
        margin-bottom:0%;
    }
    .displayTurn,
    .displayLevel,
    .displayTime {
    font-size: 2rem;
    }
    .grid{
       margin-top: 0%;
       grid-gap:10px; 
    }
}
/*iPad*/
/*@media (width: 768px) and (height: 1024px){
    body{

        background-image: url(../img/mario-bros-mobile.png);
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
    }
    .container-icons{
        margin-top: 10%;
        width:655px;
        margin-left:10%;
    }
    .container-icons i{
        font-size: 3rem;
        padding-left: 5px;
    }
    .displayGame{
        width: 600px;
        margin-left:25px;
    }
    .displayTurn,
    .displayLevel,
    .displayTime {
    font-size: 3rem;
    justify-content:right;
    width:80%;
    }
    .containerGame{
        margin-top: 5%;
        margin-left: 245px;
        min-width: 650px;
    }
    .grid{
        justify-content:space-between;
        padding: 10px 5px 30px 10px;
        margin-top: 5%;
        grid-gap:30px;
        margin-left: 22px;
        min-width:600px;
    }
    .frontCard{
        width: 150px;
        height: 150px;
    }
    .image{
        width: 120px;
        height: 130px;
        margin: 5px 5px 10px 10px;
    }
    .backCard{
        width: 154px;
        height: 154px;
    }
    .imageBackCard{
        width: 154px;
        height: 154px; 
    }

    .container-name-game{
        margin-top: 10%;
      }
      

    .logo{
        margin-left: 400px;
        width: 300px;
    }
    
    .nameGame{
        margin-left:300px;
        width:550px;
    }
    
}*/

/*Surface Duo*/
/*@media (min-width: 540px) and (min-height: 720px){
    
body{
    width: 70%;
    background-image:url(../img/backgroundmariobros.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 200vh;
}
    .container-icons{
        margin-top: 10%;
        width:550px;
        margin-left:10%;
    }
    .container-icons i{
        font-size: 3rem;
        padding-left: 5px;
    }
    .displayGame{
        width: 550px;
        margin-left:10px;
    }
    .displayTurn,
    .displayLevel,
    .displayTime {
    font-size: 3rem;
    justify-content:right;
    width:80%;
    }
    .containerGame{
        margin-top: 5%;
        margin-left: 240px;
        min-width: 550px;
    }
    .grid{
        justify-content:space-between;
        padding: 10px 5px 30px 10px;
        margin-top: 5%;
        margin-left: 22px;
        min-width:500px;
    }
    .frontCard{
        width: 120px;
        height: 120px;
    }
    .image{
        width: 90px;
        height: 100px;
        margin: 5px 5px 10px 10px;
    }
    .backCard{
        width: 124px;
        height: 124px;
    }
    .imageBackCard{
        width: 124px;
        height: 124px; 
    }

    .container-name-game{
        margin-top: 10%;
      }
      

    .logo{
        margin-left: 420px;
        width: 300px;
    }
    
    .nameGame{
        margin-left:300px;
        width:550px;
    }
    
}*/

/*Iphone 6/7/8*/
@media (min-width: 375px) and (min-height: 667px){
    body{

        background-image: url(../img/mario-bros-mobile.png);
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
    }
    .container-icons{
        margin-top:10%;
        width:300px;
        margin-left:10%;
    }
    .container-icons i{
        font-size: 1.5rem;
    }
    .container-icons-left i{
        padding-left: 5px;
    }
    .displayGame{
    width:255px;
    margin-left: 15px;
  }
    .displayTurn,
    .displayLevel,
    .displayTime {
    font-size: 1.5rem;
    width:50%;
    justify-content:center;
    }
    .containerGame{
        margin-left: 110px;
        min-width: 280px;
        
    }
    .grid{
        justify-content:space-between;
        padding: 5px 5px 5px 5px;
        margin-left:15px;
        width:250px;
    }
    .frontCard{
        width: 60px;
        height: 60px;
    }
    .image{
        width: 30px;
        height: 40px;
        margin: 5px 5px 10px 10px;
    }
    .backCard{
        width: 64px;
        height: 64px;
    }
    .imageBackCard{
        width: 64px;
        height: 64px; 
    }

    .container-name-game{
        margin-top: 15%;
        margin-bottom:10%;
      }

    .logo{
        margin-left: 180px;
        width: 160px;
    }
    
    .nameGame{
        margin-left:130px;
        width:280px;
    }
    

}

/*Iphone X*/
/*@media (min-width: 375px) and (min-height: 812px){
    .container-icons{
        margin-top:15%;
        width:300px;
        margin-left:10%;
    }
    .container-icons i{
        font-size: 2rem;
    }

    .displayGame{
        width:290px;
        margin-left: 25px;
      }
      .displayTurn,
      .displayLevel,
      .displayTime {
      font-size: 2rem;
      }
    .containerGame{
       min-width: 340px;
        
    }
    .grid{
        margin-left:20px;
        width:300px;
    }
    .frontCard{
        width: 80px;
        height: 80px;
    }
    .image{
        width: 50px;
        height: 60px;
        margin: 5px 5px 10px 10px;
    }
    .backCard{
        width: 84px;
        height: 84px;
    }
    .imageBackCard{
        width: 84px;
        height: 84px; 
    }

    .logo{
        margin-left: 180px;
        width: 150px;
    }
    
    .nameGame{
        margin-left:130px;
        width:255px;
    }
    

}*/






/*iPhone 5/SE*/

/*@media (min-width: 320px) and (min-height: 568px){
    body{

        background-image: url(../img/mario-bros-mobile.png);
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
    }
    .container-icons{
        margin-top:5%;
        width:300px;
        margin-left:3%;
    }
    .container-icons i{
        font-size: 1.5rem;
    }
    .container-icons-left i{
        padding-left: 5px;
    }
    .displayGame{
    width:245px;
    margin-left: 10px;
  }
    .displayTurn,
    .displayLevel,
    .displayTime {
    font-size: 1.5rem;
    width:50%;
    justify-content:center;
    }
    .containerGame{
        margin-top: 5%;
        margin-left: 100px;
        min-width: 260px;
        
    }
    .grid{
        justify-content:space-between;
        padding: 5px 5px 5px 5px;
        margin-left:5px;
        grid-gap: 10px;
        width:250px;
    }
    .frontCard{
        width: 60px;
        height: 60px;
    }
    .image{
        width: 30px;
        height: 40px;
        margin: 5px 5px 10px 10px;
    }
    .backCard{
        width: 64px;
        height: 64px;
    }
    .imageBackCard{
        width: 64px;
        height: 64px; 
    }
 
    .container-name-game{
        margin-bottom:5%;
      }
    .logo{
        margin-left: 180px;
        width: 150px;
    }
    
    .nameGame{
        margin-left:130px;
        width:255px;
    }
    

}*/



/*Moto G4/Galaxy S5*/

@media (min-width: 360px) and (min-height: 640px){
    body{

        background-image: url(../img/mario-bros-mobile.png);
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
    }
    .container-icons{
        margin-top:10%;
        width:340px;
        margin-left:3%;
    }
    .container-icons i{
        font-size: 1.5rem;
    }
    .container-icons-left i{
        padding-left: 5px;
    }
    .displayGame{
    width:255px;
    margin-left: 15px;
  }
    .displayTurn,
    .displayLevel,
    .displayTime {
    font-size: 1.5rem;
    width:50%;
    justify-content:center;
    }
    .containerGame{
        margin-left: 110px;
        min-width: 280px;
        
    }
    .grid{
        justify-content:space-between;
        padding: 5px 5px 5px 5px;
        margin-left:15px;
        width:250px;
    }
    .frontCard{
        width: 60px;
        height: 60px;
    }
    .image{
        width: 30px;
        height: 40px;
        margin: 5px 5px 10px 10px;
    }
    .backCard{
        width: 64px;
        height: 64px;
    }
    .imageBackCard{
        width: 64px;
        height: 64px; 
    }
 
    .container-name-game{
        margin-top: 10%;
        margin-bottom:5%;
      }
    .logo{
        margin-left: 180px;
        width: 150px;
    }
    
    .nameGame{
        margin-left:130px;
        width:255px;
    }
    
}

/*Galaxy Fold*/

/*@media (min-width: 280px) and (min-height: 653px){
    body{

        background-image: url(../img/mario-bros-mobile.png);
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
    }
    .container-icons{
        margin-top:10%;
        width:260px;
        margin-left:5%;
    }
    .container-icons i{
        font-size: 1.5rem;
    }
    .container-icons-left i{
        padding-left: 5px;
    }
    .displayGame{
    width:255px;
    margin-left: 5px;
  }
    .displayTurn,
    .displayLevel,
    .displayTime {
    font-size: 1.5rem;
    width:50%;
    justify-content:center;
    }
    .containerGame{
        margin-left: 90px;
        min-width: 250px;
        
    }
    .grid{
        justify-content:space-between;
        padding: 5px 5px 5px 5px;
        margin-left:3px;
        width:245px;
    }
    .frontCard{
        width: 60px;
        height: 60px;
    }
    .image{
        width: 30px;
        height: 40px;
        margin: 5px 5px 10px 10px;
    }
    .backCard{
        width: 64px;
        height: 64px;
    }
    .imageBackCard{
        width: 64px;
        height: 64px; 
    }
 
    .container-name-game{
        margin-top: 10%;
        margin-bottom:5%;
      }
    .logo{
        margin-left: 170px;
        width: 150px;
    }
    
    .nameGame{
        margin-left:120px;
        width:255px;
    }
    

}*/






